/* reset: Remover estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  /* background-color: #0f172a; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
  text-align: center;
}

li {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

li:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
}

button {
  padding: 20px 20px;
  width: 70%;
  margin: auto;
  font-size: 20px;
  color: #fff;
  font-family: Verdana, sans-serif;
  background-color: #3b82f6;
  border: none;
  border-radius: 12px;
  transition: transform 300ms ease-in;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

section {
  margin: 20px;
}

#btn-inicio {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#btn-inicio:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#btn-inicio:active {
    background-color: #3e8e41;
    transform: scale(0.95);
}
#game-area {
  min-height: 300px;
  border: dashed 3px #fff;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
